<form #form ="ngForm" (submit)="onSubmit(form)" [class.submitted]="service.formSubmitted" novalidate>
    <div>
        <input type="hidden" name="paymentDetailId" [value]="service.formData.paymentDetailId"/>
        <div class="mb-3">
             <label class="fw-bold">Card Owner Name</label>
             <input class="form-control" placeholder="Enter your full name"
              #cardOwnerName = "ngModel" name = "cardOwnerName" [(ngModel)] = "service.formData.cardOwnerName" required >
        </div>
        <div class="mb-3">
            <label class="fw-bold">Card Number</label>
            <input class="form-control" placeholder="Enter your 16 digit card number"
             #cardNumber = "ngModel" name = "cardNumber" [(ngModel)] = "service.formData.cardNumber" required minlength="16" maxlength="16">
        </div>
        <div class="row">
            <div class="mb-3 col-6">
            <label class="fw-bold">Valid Through</label>
            <input class="form-control" placeholder="MM/YY"
             #expirationDate = "ngModel" name = "expirationDate" [(ngModel)] = "service.formData.expirationDate" required minlength="5" maxlength="5">
            </div>
            <div class="mb-3 col-6">
                <label class="fw-bold">Security Code</label>
                <input class="form-control" placeholder="CVV" type="password"
                 #securityCode = "ngModel" name = "securityCode" [(ngModel)] = "service.formData.securityCode" required  minlength="3" maxlength="3">
             </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-lg btn-success" type="submit">Submit</button>
        </div>
    </div>
</form>
